.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.homepage {
  color: #fff;

  /* margin-top: 50px; */
  min-height: 100vh;
  padding-top: 2%;

}

.heading {
  padding-top: 12%;
  max-width: 50%;
  padding-bottom: 12%;
}

.video {
  /* padding-top: 2%; */
  max-width: 50%;
  padding-bottom: 12%;
}

.directory {
  padding-top: 5%;
  max-width: 80%;
  padding-bottom: 12%;
}

.piano-img {
  width: 100%;
}

.how-to {
  padding-top: 10%;
  padding-bottom: 10%;
  text-align: center;
  max-width: 80%;
}

.how-to-text {
  padding-top: 5%;
  padding-bottom: 5%;
}

.header-button {
  display: inline-block;
  margin-right: 5px;
}

.form-get-started {
  max-width: 330px;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}

.sign-in-up {
  width: 100%;
}



/* piano */
/* Piano Wrapper */
/* #p-wrapper {
    background:#111;
    width:100%;
    position:relative;
} */

ul#piano {
  /* width: 100%; */
  /* height: 25.4%; */
  border-top: 2px solid #222;

}

ul#piano li {
  list-style: none;
  width: 2.5%;
  height: 100%;
  float: left;
  position: relative;
}


/* white */
ul#piano li .white {
  height: 13.2em;
  width: 100%;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 0 0 3% 3%;
}

ul#piano li .white:active {
  position: relative;
  background: rgb(101, 205, 27);
  top: 2px;
  height: 12.8em;
}

ul#piano li .white.active {
  position: relative;
  background: rgb(101, 205, 27);
  top: 2px;
  height: 12.8em;
}

/* Black */
ul#piano li .black {
  position: absolute;
  top: 0px;
  left: -0.5em;
  width: 45%;
  height: 7.0em;
  background: #333;
  z-index: 10;
  border-width: 1px 2px 7px;
  border-style: solid;
  border-color: #666 #222 #111 #555;
  border-radius: 0 0 3% 3%;
}

ul#piano li .black:active {
  border-bottom-width: 2px;
  background: rgb(101, 205, 27);
  height: 7.0em;
}

ul#piano li .black.active {
  border-bottom-width: 2px;
  background: rgb(101, 205, 27);
  height: 7.0em;
}

.piano-wrapper {
  /* width: 100%; */
  /* height: 100%; */
  /* position: fixed; */
  /* overflow: hidden; */
  position: relative;
  /* margin-bottom: 14em; */
  /* bottom: -50px; */
  /* top: 450px; */
  padding-bottom: 14em;
}

.piano-roll {
  background-color: rgb(55, 55, 55);
  /* opacity: 0.1; */
  height: 50vh;
  margin-top: 1.9em;
  margin-left: 2em;
  margin-right: 2em;
}

.control-button {
  display: block;
  float: left;
  margin: 0;
  font-size: 550px;

}


canvas {
  width: 100%;
  height: 50vh;
}

.player {
  margin-left: 2em;
}

.player-icon {
  font-size: 1.5em;
}

.player .player-button {
  border-radius: 50%;
}

.player .row {
  --bs-gutter-x: 0rem;
}

.player .progress-bar {
  width: 0%;
}

.row .progress {
  margin-top: 1.1em;
  margin-right: 8em;
}

.upload {
  margin-right: 0em;
}

.submit {
  float: right;
}

.submit .loader {
  display: none;
}

.track-list {
  /* display: flex; */
  /* flex-direction: column; */
  vertical-align: center;
  /* justify-content: center; */
}

.button-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
  padding-top: 5%;
}

.help-text {
  text-align: center;
}

.track-text {
  font-size: x-large;
}

.file-upload {
  display: none;
  /*  */
}

.back-button {
  /* margin-top: 10%; */
  display: flex;
  /* align-items: center; */
  justify-content: center;
  margin-bottom: 1%;
}